site_name: TFTP Router Flasher
site_description: A professional tool to flash router firmware via TFTP
site_url: https://vr-ski.github.io/TFTPRouterFlasher
repo_url: https://github.com/vr-ski/TFTPRouterFlasher
repo_name: vr-ski/TFTPRouterFlasher

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: teal
      accent: purple
    - scheme: slate
      primary: teal
      accent: lime

nav:
  - Home: index.md
  - Contributing: contributing.md

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details
