name: Lint and Type Check

on: [push, pull_request]

# Define reusable steps as anchors
defaults:
  run:
    shell: bash

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: "3.11"  # minimum supported version

      - name: Run Ruff Check
        run: ruff check . --fix

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: "3.11"  # minimum supported version

      - name: Run Ruff format
        run: ruff format . --check

  mypy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run mypy
        run: mypy .
