name: Lint, Checks, Automated Tests, Build Test

on:
  workflow_call:
    outputs:
      overall-success:
        description: "CI all checks passed"
        value:  ${{ jobs.aggregate-results.outputs.overall-success }}

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: "3.11"  # minimum supported version

      - name: Run Ruff Check
        run: ruff check . --fix

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: "3.11"  # minimum supported version

      - name: Run Ruff format
        run: ruff format . --check

  mypy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run mypy
        run: mypy .

  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests with coverage
        run: pytest

  build-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build package
        run: python -m build

      - name: Installation dry run
        run: pip install dist/*.whl

  aggregate-results:
    needs: [ruff-check, ruff-format, mypy, unit-tests, build-package ]
    runs-on: ubuntu-latest
    outputs:
      overall-success: ${{ steps.aggregate.outputs.overall-success }}
    steps:
      - name: Check if all jobs passed
        id: aggregate
        run: |
          if [[ "${{ needs.ruff-check.result }}" == "success" && \
                "${{ needs.ruff-format.result }}" == "success" && \
                "${{ needs.mypy.result }}" == "success" && \
                "${{ needs.unit-tests.result }}" == "success" && \
                "${{ needs.build-package.result }}" == "success" ]]; then
            echo "overall-success=true" >> $GITHUB_OUTPUT
          else
            echo "overall-success=false" >> $GITHUB_OUTPUT
          fi
